*{
    margin: 10;
    padding: 10;
    box-sizing:border-box;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Products{
    margin-top: 50px;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    background-color: #f2682b;
    max-width: 400px;
}
.mailText{
    display: none;
    margin-top: 10px;
    font-size: 18px;
    color: orange;
}

.loginform{
    max-width: 100px;
}
.lButton{
    margin-top: 10px;
    width: 100%;
    max-width: 256px;
}
.linput{
    margin-top: 10px;
}
.button{
    margin-top: 10px;
}
.item-wrapper{
    display: flex;
    max-width: 400px;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.modcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.minput{
    margin-top: 10px;
    max-width: 156px;
    width: 100%;

}
.mbutton{
    margin-top: 10px;
    width: 100%;
    max-width: 156px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 30%;
    top: 30%;
    max-width: 400px;
    max-height: 200px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color:red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }